<!-- <div class="content" id="insert"> -->
    <div class="container-fluid">
            <form id="drupdate">
              <div class="row">
                  <div>
                      <div class="form-group">
                          <label>Driver ID</label>
                          <input type="text" class="form-control" placeholder="Driver ID" name="drid" required="" onkeyup="callupdate()">
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label>Driver Name</label>
                          <input type="text" class="form-control" placeholder="Vendor Name" name="name" id="name" required="">
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label>Address</label>
                          <textarea rows="5" class="form-control" placeholder="Address of your Vendor" name="address" id="address" required=""></textarea>
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" placeholder="Email" name="email" id="email" required="">
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label>Contact Number</label>
                          <textarea rows="2" class="form-control" placeholder="Vendor Contact Number format like office => 079-27473392, mobile => 9601751101 " name="contact" id="contact" required=""></textarea>
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label>Vendor ID</label>
                          <input type="number" class="form-control" placeholder="Vendor ID" name="vid" id="vid" required="">
                      </div>
                  </div>
              </div>

              <button type="button" class="btn btn-info btn-fill pull-left" onclick="orgupd()">UPDATE</button>
              <button type="reset" class="btn btn-info btn-fill pull-right">RESET</button>
              <div class="clearfix"></div>
            </form>
    </div>

<script>

var ip="54.68.116.37"

  function callupdate(){
    var id = $("#drupdate").find('input[name="drid"]').val();
    console.log("id:",id);
     if (id) {
       $.ajax({
          type: "GET",
          dataType: 'json',
          url: "http://"+ip+":1323/driver/get/"+id,
          success: function(data)
          {
              //window.alert(data)
              console.log(data);
              obj = data[0];
              document.getElementById("name").value = obj.name;
              document.getElementById("address").value = obj.address;
              document.getElementById("email").value = obj.email;
              document.getElementById("contact").value = obj.contact;
              document.getElementById("vid").value = obj.venid;
          }
        });
     }
     else {
          $("#drupdate").trigger('reset');
        //  document.getElementById("orgname").reset();
        //  document.getElementById("orgaddress").reset();
        //  document.getElementById("orgemail").reset();
        //  document.getElementById("orgcontact").reset();
        //  document.getElementById("orgpwd").reset();
     }
  }


function orgupd() {
  orgupdatedata={
    drid: parseInt($("#drupdate").find('input[name="drid"]').val()),
    name:$("#drupdate").find('input[name="name"]').val(),
    email:$("#drupdate").find('input[name="email"]').val(),
    address:$("#drupdate").find('textarea[name="address"]').val(),
    contact:$("#drupdate").find('textarea[name="contact"]').val(),
    venid:parseInt($("#drupdate").find('input[name="vid"]').val()),
  };
  datatosend = JSON.stringify(orgupdatedata)
  console.log(datatosend);
  $.ajax({
     type: 'PUT',
     url: "http://"+ip+":1323/driver/update",
     data: datatosend,
     contentType: "application/json",
     success: function(data)
     {
         window.alert(data); // show response from the php script.
     },
     error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                    console.log("textStatus:",textStatus);
    }
   });
}

  // $(document).ready(function(){
  //     $("#updatedata").click(function(){
  //       orgupdatedata={
  //         'orgid':$("#orgupdate").find('input[name="orgid"]').val(),
  //         'name':$("#orgupdate").find('input[name="orgname"]').val(),
  //         'email':$("#orgupdate").find('input[name="orgemail"]').val(),
  //         'address':$("#orgupdate").find('textarea[name="orgaddress"]').val(),
  //         'contact':$("#orgupdate").find('textarea[name="orgcontact"]').val(),
  //         'password':$("#orgupdate").find('input[name="orgpwd"]').val(),
  //       };
  //   console.log(orgupdatedata);
  //       $.ajax({
  //          type: "PUT",
  //          url: "http://localhost:1323/organization/update",
  //          data: orgupdatedata, // serializes the form's elements.
  //          success: function(data)
  //          {
  //              window.alert(data); // show response from the php script.
  //          }
  //        });
  //     });
  // });

</script>
