<!-- <div class="content" id="insert"> -->
    <div class="container-fluid">
              <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>Get All Route</label><br/>
                          <button  type="button" class="btn btn-info btn-fill pull-left" onclick="getall()">Get All Route</button>
                      </div>
                  </div>
                  <!-- <div class="clearfix"></div> -->
                  <div class="col-md-3">
                    <div class="form-group">
                        <label>Get The Route By id</label>
                        <input type="number" class="form-control" placeholder="Route ID" required="" name="routeid" id="routeid">
                        <button  type="button" class="btn btn-info btn-fill pull-left" onclick="getid()">Get Route</button>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                        <label>Get The Route By route_id and org_id</label>
                        <input type="number" class="form-control" placeholder="Route ID" required="" name="route_id" id="route_id">
                        <input type="number" class="form-control" placeholder="Organization ID" required="" name="org_id" id="org_id">
                        <button  type="button" class="btn btn-info btn-fill pull-left" onclick="getbothid()">Get Route</button>
                    </div>
                  </div>
              </div>
              <br>
              <div class="clearfix"></div>

              <div class="col-md-12">
                  <!-- <div class="card"> -->
                      <!-- <div class="header">
                          <h4 class="title">Striped Table with Hover</h4>
                          <p class="category">Here is a subtitle for this table</p>
                      </div> -->
                      <div class="content table-responsive table-full-width" id="showtabledata">
                          <!-- <table id="example" class="table table-hover table-bordered table-condensed table-striped" >
                              <thead>
                                <tr>
                                    <th>Org ID</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Password</th>
                                    <th>Contact</th>
                                </tr>
                            </thead>
                          </table> -->
                      </div>
                  <!-- </div> -->
              </div>

              <!-- <button type="submit" class="btn btn-info btn-fill pull-left">UPDATE</button>
              <button type="reset" class="btn btn-info btn-fill pull-right">RESET</button> -->
              <div class="clearfix"></div>
    </div>

<script type="text/javascript">

    function getall(){
      var id = -1;
      getdata(id)
    }

    function getid(){
      var id = $('input[name="routeid"]').val();
      getdata(id)
      document.getElementById("routeid").value = '';
    }

    function getbothid(){
      var routeid = $('input[name="route_id"]').val();
      var orgid = $('input[name="org_id"]').val();
      getbothdata(routeid,orgid)
      document.getElementById("route_id").value = '';
      document.getElementById("org_id").value = '';
    }

    function getdata(id){
      $.ajax({
        url: "http://localhost:1323/route/get/"+id,
        type: 'GET',
        dataType: 'json',
        success: function (products) {
          OrganizationListSuccess(products);
        },
        error: function (xhr, textStatus, errorThrown) {
               console.log('Error in Operation');
           }
      });
    }

    function getbothdata(routeid,orgid){
      var vals={'routeid':routeid,'orgid':orgid};
      console.log("vals2:",vals);
      $.ajax({
        url: "http://localhost:1323/route/get?"+$.param(vals),
        type: 'GET',
        dataType: 'json',
        success: function (products) {
          OrganizationListSuccess(products);
        },
        error: function (xhr, textStatus, errorThrown) {
               console.log('Error in Operation');
           }
      });
    }


    function OrganizationListSuccess(products) {
      resetastype();
      $('#example').DataTable( {
              data: products,
              columns: [
                  { "data": "routeid" },
                  { "data": "orgid" },
                  { "data": "source" },
                  { "data": "destination" },
                  { "data": "file" }
              ],
              "bFilter": true,
              "bJQueryUI": true,
              "sSearch": "Search"
          } );
          table.columns().every( function () {
          var that = this;

          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
          } );
    }

    function resetastype(){
        $('#showtabledata').html("<table id=\"example\" class=\"table table-bordered table-striped table-responsive\" >"+
         "<thead>"+
          "<tr>"+
             "<th>Route_ID</th>"+
             "<th>Org_ID</th>"+
             "<th>Source</th>"+
             "<th>Destination</th>"+
             "<th>coordinates</th>"+
          "</tr>"+
       "</thead>"+
    "</table>");
    }

</script>
