<!-- <div class="content" id="insert"> -->
<!-- <div class="content" id="insert"> -->
    <div class="container-fluid">
            <form id="routeinsert" method="post" action="http://localhost:1323/route/add" enctype="multipart/form-data">
              <div class="row">
                  <div>
                      <div class="form-group">
                          <label>Organization ID</label>
                          <input type="text" class="form-control" placeholder="Organization ID" name="orgid" required="">
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label>Source</label>
                          <input type="text" class="form-control" placeholder="Source" name="source" required="">
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label>Destination</label>
                          <input type="text" class="form-control" placeholder="Destination" name="destination" required="">
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label>Coords</label>
                          <input type="file" class="form-control" placeholder="coords format like kml file path" name="file" required="">
                      </div>
                  </div>
              </div>

              <button id="btninsert" type="submit" class="btn btn-info btn-fill pull-left" >SEND</button>
              <button type="reset" class="btn btn-info btn-fill pull-right">RESET</button>
          </form>
              <div class="clearfix"></div>
    </div>
  <!-- </div> -->
  <!-- onclick="insorg()" -->
<!-- <script type="text/javascript">

function insorg(){
 check=checkform();
console.log("CheckForm:",check);
  if (check) {
  routeinsdata={
    orgid:parseInt($("#routeinsert").find('input[name="orgid"]').val()),
    source:$("#routeinsert").find('input[name="source"]').val(),
    destination:$("#routeinsert").find('input[name="destination"]').val(),
    file:$("#routeinsert").find('input[name="file"]').val(),
  };

  datatosend = JSON.stringify(routeinsdata)
  console.log("datatosend: ",datatosend);

  $.ajax({
     type: "POST",
     url: "http://localhost:1323/route/add",
     data: datatosend,
     contentType: "application/json", // serializes the form's elements.
     success: function(data)
     {
         window.alert(data); // show response from the php script.
     },
     error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                    console.log("textStatus:",textStatus);
    }
   });
 }

}
</script>
<script>

function checkform(){
     orgid=$("#routeinsert").find('input[name="orgid"]').val();
     source=$("#routeinsert").find('input[name="source"]').val();
     destination=$("#routeinsert").find('input[name="destination"]').val();
     file=$("#routeinsert").find('input[name="file"]').val();
     hasError = false;

    // Validating Name Field.
    if (orgid.length == 0) {
      // $("#orgname").after('<span class="error">Please enter your Organization Name.</span>');
      alert("Please enter the Organization ID.");
      return hasError;
    }
    // Validating address Field.
    if (source.length == 0) {
      // $("#orgaddress").after('<span class="error">Please enter your Organization Address.</span>');
      alert("Please enter your Source Address.");
      return hasError;
    }
    if (destination.length == 0) {
      // $("#orgaddress").after('<span class="error">Please enter your Organization Address.</span>');
      alert("Please enter your Destination Address.");
      return hasError;
    }
    //Validating contact Field.
    if (file.length == 0) {
      // $("#orgcontact").after('<span class="error">Please enter your Contact.</span>');
      alert("Please enter your coordinates(kml file).");
      return hasError;
    }
    return !hasError;
}

// var validate_email = function(email){
//   var pattern = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
//   var is_email_valid = false;
//   if(email.match(pattern) != null){
//     is_email_valid = true;
//   }
//   return is_email_valid;
// }
//
// $(document).on("keyup", "#orgemail", function(event){
//   var keypressed = event.which;
//   var input_val = $(this).val();
//   var is_success = true;
//   if(keypressed == 9){
//     is_success = validate_email(input_val);
//     if(!is_success){
//       $(this).focus();
//     }
//   }
// });
//
// $(document).on("focusout", "#orgemail", function(){
//   var input_val = $(this).val();
//   var is_success = validate_email(input_val);
//
//   if(!is_success){
//     $("#orgemail").focus();
//   }
// });


</script> -->
