<!-- <div class="content" id="insert"> -->
    <div class="container-fluid">
            <form id="routeupdate">
              <div class="row">
                  <div>
                      <div class="form-group">
                          <label>Route ID</label>
                          <input type="text" class="form-control" placeholder="Route ID" name="routeid" required="" onkeyup="callupdate()">
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label>Organization ID</label>
                          <input type="text" class="form-control" placeholder="Organization ID" name="orgid" id="orgid" required="">
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label>Source</label>
                          <input type="text" class="form-control" placeholder="Source" name="source" id="source" required="">
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label>Destination</label>
                          <input type="text" class="form-control" placeholder="Destination" name="destination" id="destination" required="">
                      </div>
                  </div>
                  <div>
                    <div class="form-group">
                        <label>Coords</label>
                        <input type="text" class="form-control" placeholder="coords format like kml file path" name="coords" required="">
                    </div>
                  </div>
              </div>

              <button type="button" class="btn btn-info btn-fill pull-left" onclick="orgupd()">UPDATE</button>
              <button type="reset" class="btn btn-info btn-fill pull-right">RESET</button>
              <div class="clearfix"></div>
            </form>
    </div>
  <!-- </div> -->
<script>

  function callupdate(){
    var id = $("#routeupdate").find('input[name="routeid"]').val();
    console.log("id:",id);
     if (id) {
       $.ajax({
          type: "GET",
          dataType: 'json',
          url: "http://localhost:1323/route/get/"+id,
          success: function(data)
          {
              //window.alert(data)
              console.log(data);
              obj = data[0];
              document.getElementById("orgid").value = obj.orgid;
              document.getElementById("source").value = obj.source;
              document.getElementById("destination").value = obj.destination;
              document.getElementById("coords").value = obj.coords;
          }
        });
     }
     else {
          $("#routeupdate").trigger('reset');
        //  document.getElementById("orgname").reset();
        //  document.getElementById("orgaddress").reset();
        //  document.getElementById("orgemail").reset();
        //  document.getElementById("orgcontact").reset();
        //  document.getElementById("orgpwd").reset();
     }
  }


function orgupd() {
  routeupdatedata={
    routeid: parseInt($("#routeupdate").find('input[name="routeid"]').val()),
    orgid:parseInt($("#routeupdate").find('input[name="orgid"]').val()),
    source:$("#routeupdate").find('input[name="source"]').val(),
    destination:$("#routeupdate").find('input[name="destination"]').val(),
    coords:$("#routeupdate").find('input[name="coords"]').val(),
  };
  datatosend = JSON.stringify(routeupdatedata)
  console.log(datatosend);
  $.ajax({
     type: 'PUT',
     url: "http://localhost:1323/route/update",
     data: datatosend,
     contentType: "application/json",
     success: function(data)
     {
         window.alert(data); // show response from the php script.
     },
     error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                    console.log("textStatus:",textStatus);
    }
   });
}

  // $(document).ready(function(){
  //     $("#updatedata").click(function(){
  //       orgupdatedata={
  //         'orgid':$("#orgupdate").find('input[name="orgid"]').val(),
  //         'name':$("#orgupdate").find('input[name="orgname"]').val(),
  //         'email':$("#orgupdate").find('input[name="orgemail"]').val(),
  //         'address':$("#orgupdate").find('textarea[name="orgaddress"]').val(),
  //         'contact':$("#orgupdate").find('textarea[name="orgcontact"]').val(),
  //         'password':$("#orgupdate").find('input[name="orgpwd"]').val(),
  //       };
  //   console.log(orgupdatedata);
  //       $.ajax({
  //          type: "PUT",
  //          url: "http://localhost:1323/organization/update",
  //          data: orgupdatedata, // serializes the form's elements.
  //          success: function(data)
  //          {
  //              window.alert(data); // show response from the php script.
  //          }
  //        });
  //     });
  // });

</script>
