<!-- <div class="content" id="insert"> -->
    <div class="container-fluid">
              <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                        <label>Delete The Organization By id</label>
                        <input type="number" class="form-control" placeholder="Organization ID" name="orgid" id="orgid" required="">
                        <button type="button" class="btn btn-info btn-fill pull-left" onclick="getid()">Delete Organization</button>
                    </div>
                  </div>
              </div>

              <!-- <button type="submit" class="btn btn-info btn-fill pull-left">UPDATE</button>
              <button type="reset" class="btn btn-info btn-fill pull-right">RESET</button> -->
              <div class="clearfix"></div>
    </div>
  <!-- </div> -->
  <script type="text/javascript">

var ip="localhost"

  function getid(){
  var id = $('input[name="orgid"]').val();
  delorg(id)
  document.getElementById("orgid").value = '';
  }
  function delorg(id) {
    $.ajax({
       type: "DELETE",
       url: "http://"+ip+":1323/organization/delete/"+id,
       success: function(data)
       {
           window.alert(data); // show response from the php script.
       },
       error: function (xhr, textStatus, errorThrown) {
                      console.log('Error in Operation');
                      console.log("textStatus:",textStatus);
      }
     });
  }
  </script>
