<!-- <div class="content" id="insert"> -->
    <div class="container-fluid">
          <form>
              <div class="row">
                  <div>
                      <div class="form-group">
                          <label>Organization Name</label>
                          <input type="text" class="form-control" placeholder="Organization Name">
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label>Address</label>
                          <textarea rows="5" class="form-control" placeholder="Address of your Organization" value="Mike"></textarea>
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" placeholder="Email">
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label>Contact Number</label>
                          <textarea rows="3" class="form-control" placeholder="Organization Contact Number format like 'office'=>'079-27473392' 'mobile'=>'9601751101'" value="Mike"></textarea>
                      </div>
                  </div>
                  <div>
                      <div class="form-group">
                          <label for="exampleInputEmail1">Password</label>
                          <input type="password" class="form-control" placeholder="Password">
                      </div>
                  </div>
              </div>

              <button type="submit" class="btn btn-info btn-fill pull-left">UPDATE</button>
              <button type="reset" class="btn btn-info btn-fill pull-right">RESET</button>
              <div class="clearfix"></div>
          </form>
    </div>
  <!-- </div> -->
